{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div>
        {% for obj in objects %}
            <input type="hidden" name="_selected_action" value="{{ obj.pk }}" />
        {% endfor %}
        <input type="hidden" name="action" value="{{ action }}" />
        <input type="hidden" name="apply" value="1" />
    </div>

    <fieldset class="module aligned">
        <h2>{{ title }}</h2>
        {% if form.non_field_errors %}
            <div class="errornote">{{ form.non_field_errors }}</div>
        {% endif %}

        {% for field in form %}
            <div class="form-row">
                <div>
                    <label class="required" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                    {{ field }}
                    {% if field.help_text %}
                        <div class="help">{{ field.help_text }}</div>
                    {% endif %}
                    {{ field.errors }}
                </div>
            </div>
        {% endfor %}
    </fieldset>

    <div class="submit-row">
        <input type="submit" value="{% trans 'Send Invite' %}" class="default" />
        <a href="{% url 'admin:tenants_tenant_changelist' %}" class="button cancel-link">{% trans "Cancel" %}</a>
    </div>
</form>
{% endblock %}
