name: Auto Create UAT and Production PRs

on:
  push:
    branches:
      - development
      - uat

jobs:
  create-uat-pr:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/development'
    steps:
      - name: Create PR from development to uat
        uses: repo-sync/pull-request@v2
        with:
          source_branch: development
          destination_branch: uat
          pr_title: 'Automated PR: Merge development into uat'
          pr_body: 'This PR was created automatically after a merge into development.'

  create-prod-pr:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/uat'
    steps:
      - name: Create PR from uat to main
        uses: repo-sync/pull-request@v2
        with:
          source_branch: uat
          destination_branch: main
          pr_title: 'Automated PR: Merge uat into main'
          pr_body: 'This PR was created automatically after a merge into uat.'
